<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
<main>
    <form method="post" action="/login">
        <h1>Login now</h1>
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">

        <p class="error"><%= locals.message %></p>
        
        <button type="submit">Log In</button>
    </form>

    <script src="script.js"></script>
</main>
</body>
</html>